nav {
  background-color: rgb(170, 84, 170);
  font-family: "Montserrat Alternates", sans-serif;
}

nav ul a {
  color: #dde1e9;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: large;
}

nav .horo-logo {
  color: #dde1e9;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 3vw;
  padding-left: 2%;
}

.horo-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

  .horo-text {
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
  }






 
.carousel-item {
  background-color: grey;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
